section.services
  .flex.flex--space-around
    .col-1
      h1.home-header Services ...
      
      p.home-body Free Consultation and Estimates based on scope of Project
      p.home-body-sm Prior to signing contracts, we provide free cost estimates based on scope of work and services requested by our clients. 
      
      p.home-body Rebar Design, Detailing, Estimating and Supply
      p.home-body-sm We work with Ontario’s biggest manufacturers to provide the most             cost-effective prices in supplying our clients with rebar material. 

      p.home-body Project Management, Construction and Inspection
      p.home-body-sm We provide inspection services throughout construction to ensure compliance with engineering drawings. We also provide consultation and advice to mitigate unforeseen extra costs during construction.
